body,
h1,
h2,
h3,
p,
ul,
li,
form,
* {
    margin: 0;
    padding: 0;
    transition: transform 0.5s ease-in-out;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-image: url('images/background.png');
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}

nav {
    background-color: rgba(0, 0, 0, 0.5);
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: flex-start;

}

nav h1 {
    position: absolute;
    transform: translateX(0);
    left: 37.5%;
    padding-left: 0px;
    width: auto;  
    color: rgba(255,255,255,0.5);
    text-transform: uppercase;
    letter-spacing: 1em;
    align-self: center;
    transition: transform 1s ease-in-out;
}

nav ul {
    display: flex;
    justify-self: center;
    align-self: center;
    padding-left: 15%;
    list-style: none;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100%);
    transition: 0.75s;
}

    nav li {
        display: flex;
        margin-right: 20px;
    }

    nav a {
        text-decoration: none;
        text-transform: uppercase;
        color: #FFF;
    }

    nav a:hover,
    nav a:focus {
        color: #000;
        font-size: 1.05em;
        transition: 0.5s;
    }

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px auto;
    margin-top: 5%;
    margin-bottom: 10%;
    max-width: 800px;
    background-color: rgba(255,255,255,0.75);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    width: 70%;
    text-align: center;
    box-sizing: border-box;
    left: 37.5%;
}

    #content section, #content section h1 {
        padding-bottom: 2%;
    }

    #content section h1 {
        border-bottom: 2px solid #000;
    }

    #content #pfp {
        position:flex;
        width: auto;
        height: auto;
        top: 5% auto;
        left: -25% auto;
    }

        #summary {
            display: flex;
            flex-direction: column;
            justify-self: center;
            text-align: center;
            align-content: start;
            text-align: left;
            padding-left: 20%;
        }

            #summary h1{
                width: 50%;
                justify-self: center;
                border-bottom: 2px solid #000;
            }

        #abilities {
            display: flex;
            flex-direction: column;
            justify-self: center;
            text-align: center;
            align-content: start;
            text-align: left;
            padding-left: 20%;
        }

            #abilities h1 {
                width: 50%;
                justify-self: center;
                border-bottom: 2px solid #000;

            }

        #skills {
            display: flex;
            flex-direction: column;
            justify-self: center;
            text-align: center;
            align-content: start;
            text-align: left;
            padding-left: 20%;

        }
            
            #skills h1 {
                width: 50%;
                justify-self: center;
                border-bottom: 2px solid #000;

            }

        #softwarehardware {
            display: flex;
            flex-direction: column;
            justify-self: center;
            text-align: center;
            align-content: start;
            text-align: left;
            padding-left: 20%;
            
        } 
        
            #softwarehardware h1 {
                width: 50%;
                justify-self: center;
                border-bottom: 2px solid #000;

            }

    #welcome h1, #welcome h2 {
        text-align: center;
    }

    #welcome h1 {
        font-size: 5em;
        border-bottom: solid 2px rgba(0, 0, 0, 0.9);
    }

    #welcome h2 {
        font-size: 1em;
    }

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

#contactForm {
    list-style: none;
}

input,
textarea {
    justify-self: center;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

textarea {
    resize: none;
}

input[type="submit"],
input[type="reset"] {
    background-color: #707070;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #0056b3;
    transition: 0.5s;
}

.error {
    color: #d9534f;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    display: block;
    flex-shrink: 0;
    position: relative;
    bottom: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.9);
    margin-top: auto;
}

footer img {
    margin: auto;
    color: rgba(255, 255, 255, 0.9);
    border: none;
    background-size: 40px;
    height: 40px;
    width: 40px;
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

    footer img:hover {
        transform: scale(1.2);
        transition: 0.5s;
    }

    footer ul {
        margin: 0px auto;
        list-style: none;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        transition: 0.5s;
        width: 80%;
    }

    footer ul li {
        margin: 0 auto; 
        font-size: .5em;
        align-self: center;
    }

    footer ul li a {
        text-decoration: none;
        font-weight: 1000;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }

        footer ul li a:visited {            
            color: rgba(255, 255, 255, 0.9);
            text-shadow: rgba(255, 255, 255, 0.1);
        }

        footer ul li a:hover {
            font-size: 1.2em;
            transition: 1s;
        }          


@media screen and (max-width: 767px) {

    nav {
        background-color: rgba(0, 0, 0, 0.5);
        height: 45px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    
    }
    
    nav h1 {
        position: absolute;
        transform: translateX(0);
        left: 12.5%;
        transition: 1s;
    }
    
    nav ul {
        display: flex;
        justify-self: flex-start;
        align-self: center;
        padding-left: 0;
        list-style: none;
        text-align: center;
        transition: transform 0.5s ease-in-out;
        transform: translateX(-100%);
        transition: 0.75s;
    }
    
        nav li {
            display: flex;
            margin-right: 15px;
        }
    
}